#parent {
    padding: 20px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: rgb(249, 148, 165);
    text-align: center;
    line-height: 100px;
    border-radius: 4px;
    font-size: 60px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contents {
    padding-left: 30px;
}

.line {
    width: 100%;
    border-top: 2px dotted red;
    margin: 20px 0;
}